# Build output folders
**/Release/

# Local reminder folder
REMEMBER TO OPEN THE .sln FILE!!!/

Release

Profile

Debug

.vscode

ipch

*.sdf

**.sdf

*.ipch

**.ipch

**/*.sdf

ipch

.env
Omni360.opensdf
Omni360.sdf
Omni360.suo

*.suo
build_errors.txt
